{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2>Post new listing:</h2>

    {{ form_start(form) }}
        {{ form_label(form.listingCategory) }}
        {{ form_widget(form.listingCategory) }}

        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}

        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}

        {{ form_label(form.beds) }}
        {{ form_widget(form.beds) }}

        {{ form_label(form.guests) }}
        {{ form_widget(form.guests) }}

        {{ form_label(form.latitude) }}
        {{ form_widget(form.latitude) }}

        {{ form_label(form.longitude) }}
        {{ form_widget(form.longitude) }}

        <h3>Amenities</h3>
        <style>
            .disabled {
                pointer-events:none; //This makes it not clickable
                opacity:0.6;         //This grays it out to look disabled
            }
            li {
                list-style-type: none;
            }
            #listing_listingAmenities_0_name, #listing_listingAmenities_1_name  {
                pointer-events:none;
                color:#AAA;
                background:#F5F5F5;
            }
        </style>
        <ul class="listingAmenities">
        {% for amenity in form.listingAmenities %}
            <li>{{ form_row(amenity.checked) }}</li>
            <li class="disabled">{{ form_row(amenity.name) }}</li>
        {% endfor %}
        </ul>
        <br>
        
        {{ form_widget(form.enregistrer) }}
    {{ form_end(form) }} 

{% endblock %}