{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2>Post new listing:</h2>

    {{ form_start(form) }}
        {{ form_label(form.listingCategory) }}
        {{ form_widget(form.listingCategory) }}

        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}

        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}

        {{ form_label(form.beds) }}
        {{ form_widget(form.beds) }}

        {{ form_label(form.guests) }}
        {{ form_widget(form.guests) }}

        {{ form_label(form.latitude) }}
        {{ form_widget(form.latitude) }}

        {{ form_label(form.longitude) }}
        {{ form_widget(form.longitude) }}
        <br>
        
        {{ form_widget(form.enregistrer) }}
    {{ form_end(form) }} 

{% endblock %}